<!DOCTYPE html>
<html lang="en">

<!--Template by: Joshua Schmidt --> 


<head>
	<title>Joshua Schmidt</title>
	<meta charset="utf-8">
</head>


<body>

	<!--Use the header area for website name or logo-->
	<header>
		Joshua Schmidt
	</header>

	<!--Use the nav area for hyperlinks to other pages within site-->
	<nav>
		Home &nbsp; &nbsp;

		About Me &nbsp; &nbsp;

		Languages &nbsp; &nbsp;

		Intrests &nbsp; &nbsp;

		Contact Info
	</nav>
	
	
	<!--Use the main area for main content-->
	<main>
	</main>

	<!--Use footer for webpage footer content-->
	<footer>
		Profile by: Joshua Schmidt<br>
		
	</footer>

</body>
</html>